<div ng-style='vm.styles'>

  <div class="row">
    <h4 class="light">
      Angular 1 example
    </h4>
    <p class="caption">
      This is a sample application written with Angular 1.5 and angular-ui-router.
    </p>
  </div>
  <div class="row">
    <ui-view />
  </div>

  <div>
    <!-- These Routes will be set up in the routes.js file -->
    <a class="waves-effect waves-light btn-large" href="/angularJS/gifs" style="margin-right: 10px">
      Show me cat gifs
    </a>
    <a class="waves-effect waves-light btn-large" href="/angularJS" style="margin-right: 10px">
      Take me home
    </a>
  </div>

</div>